<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>ProjetJEE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<br>
<br>
<br>
<div class="container">
    <h2>Afficher un enseignant avec ses cours</h2>
    <h3>Id enseignant : <span th:text="${enseignant.id}"></span></h3>
    <h3>Nom enseignant: <span th:text="${enseignant.nom}"></span></h3>
    <h3>Prenom enseignant: <span th:text="${enseignant.prenom}"></span></h3>
    <h3>Service enseignant: <span th:text="${enseignant.service}"></span></h3>
    <p></p>
    <table class="table">
        <thead>
        <tr>
            <th>ID Cours</th>
            <th>Nom Cours</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cour : ${enseignant.cours}">
            <td th:text="${cour.id}">test</td>
            <td th:text="${cour.nom}">test</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
