<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>ProjetJEE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<br>
<br>
<br>
<div class="container">
    <h2>Afficher un cours avec les étudiants (id, nom, spécialité) </h2>
    <h2>Id Cours : <span th:text="${cours.id}"></span></h2>
    <h2>Nom Cours : <span th:text="${cours.nom}"></span></h2>
    <p></p>
    <table class="table">
        <thead>
        <tr>
            <th>ID Etudiants</th>
            <th>Nom Etudiants</th>
            <th>Spécialité Etudiants</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="etudiant : ${cours.etudiants}">
            <td th:text="${etudiant.id}">test</td>
            <td th:text="${etudiant.nom}">test</td>
            <td th:text="${etudiant.specialite}">test</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
