<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Personne</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.css}"/>
</head>
<body>

<h1>Liste des Etudiant</h1>
<table class="table table-hover">
    <tr>
        <td>Nom</td>
        <td>Prenom</td>
        <td>Adresse</td>
        <td>Specialité</td>
        <td>Cours</td>
    </tr>
    <tr th:each="etudiant : ${etudiants}">
        <td th:text="${etudiant?.nom}"></td>
        <td th:text="${etudiant?.prenom}"></td>
        <td th:text="${etudiant?.adresse?.rue}+' '+${personne?.adresse?.ville}"></td>
        <td th:text="${etudiant?.specialite}"></td>
        <td>
            <ul>
                <li th:each="cours : ${etudiant?.cours}" th:text="${cours?.nom}"></li>
            </ul>
        </td>
    </tr>
</table>
<br><br>
<h1>Ajouter Etudiant</h1>
<form method="post" th:object="${etudiant}">
    Nom : <input type="text" th:field="*{nom}"><br>
    Prenom : <input type="text" th:field="*{prenom}"><br>
    Specialité : <input type="text" th:field="*{specialite}"><br>
    Rue : <input type="text" th:field="*{adresse.rue}"><br>
    Ville : <input type="text" th:field="*{adresse.ville}"><br>
    <input type="submit" value="Ok">
</form>

<script th:src="@{/webjars/jquery/3.0.0/jquery.js}"></script>
<script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.js}"></script>
</body>
</html>